<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<div class="list">
    <table border="1">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
        </tr>
        <tr th:each="report: ${reports}">
            <a th:text="${report.id}" th:href="@{/findReportById/{id} (id=${report.id})}"/>
            <td th:text="${report.title}"/>
            <td th:text="${report.content}"/>
        </tr>
    </table>
</div>

<button><a href="/">홈으로 가기</a></button>

</body>
</html>