<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
</head>
<body>

<div>
    제목 : <span th:text="${my_report.title}"></span>
    <li>내용</li>
    <span th:text="${my_report.content}"></span>
</div>

<div>
    <button th:onclick="|location.href='@{../delete/{id} (id=${my_report.id})}'|">글 삭제</button>
    <button th:onclick="|location.href='@{../modify(id=${my_report.id})}'|">수정하기</button>
</div>

<button><a href="/">홈으로 가기</a></button>

</body>
</html>